### 1. Atomic Data Types

In [20]:
number=7.5

In [21]:
number

[1] 7.5

In [22]:
vector=c(7.5,6.5)

In [23]:
vector

[1] 7.5 6.5

In [24]:
anothervector=c(4.5,6,7)

In [25]:
anothervector

[1] 4.5 6.0 7.0

In [26]:
matrix=cbind(vector, anothervector)

Warning message in cbind(vector, anothervector):
“number of rows of result is not a multiple of vector length (arg 1)”

In [27]:
matrix

     vector anothervector
[1,] 7.5    4.5
[2,] 6.5    6.0
[3,] 7.5    7.0

In [38]:
numbers = c(2,3,5)

In [39]:
strings=c("Hi","Me","Bye")

In [40]:
binaries=c(TRUE,FALSE, TRUE)

In [41]:
dataframeexample=data.frame(numbers,strings,binaries)

In [43]:
dataframeexample

  numbers strings binaries
1 2       Hi       TRUE
2 3       Me      FALSE
3 5       Bye      TRUE

In [47]:
names(dataframeexample)

[1] "numbers"  "strings"  "binaries"

In [44]:
dataframeexample$numbers

[1] 2 3 5

In [45]:
dataframeexample$strings

[1] Hi  Me  Bye
Levels: Bye Hi Me

In [67]:
dataframeexample[1:2]

  numbers strings
1 2       Hi
2 3       Me
3 5       Bye

In [68]:
dataframeexample[2:3]

  strings binaries
1 Hi       TRUE
2 Me      FALSE
3 Bye      TRUE

### 2. Operations

In [48]:
a=c(1,3,5,7)

In [49]:
b=c(2,4,7,9)

In [50]:
a+b

[1]  3  7 12 16

In [51]:
a*b

[1]  2 12 35 63

In [52]:
log(a)

[1] 0.000000 1.098612 1.609438 1.945910

In [53]:
a^2

[1]  1  9 25 49

In [58]:
morestrings=c('cat','pet','dog','rabbit','camel','zebra')

In [59]:
morestrings

[1] "cat"    "pet"    "dog"    "rabbit" "camel"  "zebra"

In [60]:
sort(morestrings)

[1] "camel"  "cat"    "dog"    "pet"    "rabbit" "zebra"

### 3. Operations on dataframes

#### 3.1 Selecting Data

In [74]:
## data already present in the system
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [78]:
nrow(mtcars)

[1] 32

In [79]:
ncol(mtcars)

[1] 11

In [80]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [75]:
mtcars$mpg

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [76]:
mtcars$cyl

 [1] 6 6 4 6 8 6 8 4 4 6 6 8 8 8 8 8 8 4 4 4 4 8 8 8 8 4 4 4 8 6 8 4

In [101]:
## retrieve columns 6-8
mtcars[,6:8]

                    wt    qsec  vs
Mazda RX4           2.620 16.46 0
Mazda RX4 Wag       2.875 17.02 0
Datsun 710          2.320 18.61 1
Hornet 4 Drive      3.215 19.44 1
Hornet Sportabout   3.440 17.02 0
Valiant             3.460 20.22 1
Duster 360          3.570 15.84 0
Merc 240D           3.190 20.00 1
Merc 230            3.150 22.90 1
Merc 280            3.440 18.30 1
Merc 280C           3.440 18.90 1
Merc 450SE          4.070 17.40 0
Merc 450SL          3.730 17.60 0
Merc 450SLC         3.780 18.00 0
Cadillac Fleetwood  5.250 17.98 0
Lincoln Continental 5.424 17.82 0
Chrysler Imperial   5.345 17.42 0
Fiat 128            2.200 19.47 1
Honda Civic         1.615 18.52 1
Toyota Corolla      1.835 19.90 1
Toyota Corona       2.465 20.01 1
Dodge Challenger    3.520 16.87 0
AMC Javelin         3.435 17.30 0
Camaro Z28          3.840 15.41 0
Pontiac Firebird    3.845 17.05 0
Fiat X1-9           1.935 18.90 1
Porsche 914-2       2.140 16.70 0
Lotus Europa        1.513 16.90 1
Ford Pantera L      3.170 14.50 0
Ferrari Dino        2.770 15.50 0
Maserati Bora       3.570 14.60 0
Volvo 142E          2.780 18.60 1

In [100]:
# retrieve columns by name
mtcars[,c('qsec','vs')]

                    qsec  vs
Mazda RX4           16.46 0
Mazda RX4 Wag       17.02 0
Datsun 710          18.61 1
Hornet 4 Drive      19.44 1
Hornet Sportabout   17.02 0
Valiant             20.22 1
Duster 360          15.84 0
Merc 240D           20.00 1
Merc 230            22.90 1
Merc 280            18.30 1
Merc 280C           18.90 1
Merc 450SE          17.40 0
Merc 450SL          17.60 0
Merc 450SLC         18.00 0
Cadillac Fleetwood  17.98 0
Lincoln Continental 17.82 0
Chrysler Imperial   17.42 0
Fiat 128            19.47 1
Honda Civic         18.52 1
Toyota Corolla      19.90 1
Toyota Corona       20.01 1
Dodge Challenger    16.87 0
AMC Javelin         17.30 0
Camaro Z28          15.41 0
Pontiac Firebird    17.05 0
Fiat X1-9           18.90 1
Porsche 914-2       16.70 0
Lotus Europa        16.90 1
Ford Pantera L      14.50 0
Ferrari Dino        15.50 0
Maserati Bora       14.60 0
Volvo 142E          18.60 1

In [99]:
## retrieve columns 6-8, rows 4-6
mtcars[,6:8]

                    wt    qsec  vs
Mazda RX4           2.620 16.46 0
Mazda RX4 Wag       2.875 17.02 0
Datsun 710          2.320 18.61 1
Hornet 4 Drive      3.215 19.44 1
Hornet Sportabout   3.440 17.02 0
Valiant             3.460 20.22 1
Duster 360          3.570 15.84 0
Merc 240D           3.190 20.00 1
Merc 230            3.150 22.90 1
Merc 280            3.440 18.30 1
Merc 280C           3.440 18.90 1
Merc 450SE          4.070 17.40 0
Merc 450SL          3.730 17.60 0
Merc 450SLC         3.780 18.00 0
Cadillac Fleetwood  5.250 17.98 0
Lincoln Continental 5.424 17.82 0
Chrysler Imperial   5.345 17.42 0
Fiat 128            2.200 19.47 1
Honda Civic         1.615 18.52 1
Toyota Corolla      1.835 19.90 1
Toyota Corona       2.465 20.01 1
Dodge Challenger    3.520 16.87 0
AMC Javelin         3.435 17.30 0
Camaro Z28          3.840 15.41 0
Pontiac Firebird    3.845 17.05 0
Fiat X1-9           1.935 18.90 1
Porsche 914-2       2.140 16.70 0
Lotus Europa        1.513 16.90 1
Ford Pantera L      3.170 14.50 0
Ferrari Dino        2.770 15.50 0
Maserati Bora       3.570 14.60 0
Volvo 142E          2.780 18.60 1

In [96]:
mtcars[1:3,]

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

In [98]:
mtcars['Datsun 710',]

           mpg  cyl disp hp drat wt   qsec  vs am gear carb
Datsun 710 22.8 4   108  93 3.85 2.32 18.61 1  1  4    1

#### 3.2 Filtering data

In [108]:
## select those rows in which mpg is larger than 22
mtcars[mtcars$mpg>22,]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2

In [109]:
## select those rows in which am is 0
mtcars[mtcars$am==0,]

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2

### 3. Importing data

In [63]:
require(foreign)
ceosal<-read.dta("https://github.com/thousandoaks/Wooldridge/blob/master/ceosal1.dta?raw=true")
head(ceosal1)

  salary pcsalary sales   roe  pcroe ros indus finance consprod utility
1 1095   20       27595.0 14.1 106.4 191 1     0       0        0
2 1001   32        9958.0 10.9 -30.6  13 1     0       0        0
3 1122    9        6125.9 23.5 -16.3  14 1     0       0        0
4  578   -9       16246.0  5.9 -25.7 -21 1     0       0        0
5 1368    7       21783.2 13.8  -3.0  56 1     0       0        0
6 1145    5        6021.4 20.0   1.0  55 1     0       0        0
  lsalary  lsales
1 6.998509 10.225389
2 6.908755  9.206132
3 7.022868  8.720281
4 6.359574  9.695602
5 7.221105  9.988894
6 7.043160  8.703075

In [64]:
ceosal$pcsalary

  [1]  20  32   9  -9   7   5  10   7  16   5   7  -3  -9   9  49   4  12  94
 [19]  48  -7  16  12   0 -11   1  13   0  61   6  10  -3  18  27   5  -3  23
 [37]   7   0  11  28  20  -2  20  12  20 -36   7   9  -1   0   8  -1  -9   1
 [55]  -4  17  10  20   9 185   2  19 -10  80  14 -10  -3  16 -19  -3  -6  14
 [73] -41  18  14   1  12 -53 -50 143  15  -7  18   1   3 -31 -10   8  11  15
 [91] -16  19 -12  13  16  42 -21  42   4   9   4  25  25   0 -61  20   8   4
[109]  49  39  69   2   6 -12 162  -9  33  23  -3 -35  21  -8 -43  19  15  26
[127]  21   8 103   9   5  25  -6  25  28  31  18 -11  10   9  12  20   1  13
[145]  13   5  45   9  12 -27   0   9  -4  53  47  15 -16   9   1   4 -14   7
[163] -10  17 -11 -11 212  10   8   0  73  53 112   1 -18   6  28   6  20  -5
[181]   7  11  33  -6  12  44   2  39  18  -6  12  30  18   3  -5  -5  58  26
[199]  34 -19  -8   7   8 -16  10   3  32   6   0

In [65]:
ceosal$sales

  [1] 27595.0  9958.0  6125.9 16246.0 21783.2  6021.4  2266.7  2966.8  4570.2
 [10]  2830.0   596.8 19773.0 40047.0  2513.8  1580.6  6754.0  1066.3  3199.9
 [19]  1452.7  8995.0  1212.3  2824.2  7621.0  4418.3 12343.0 57662.0  4319.7
 [28] 20604.0   611.3 12431.7  8169.0 20659.0  3072.1  1669.1  2401.2  3043.6
 [37]  6222.2  7727.9   719.5  3921.3  5155.1   649.2 10885.0  1651.9 12915.0
 [46] 11436.0  2210.3  3737.8  1976.7  2576.0  6309.1  2940.5  1072.6  1534.0
 [55]  2158.8  1736.0  3598.8  1413.6 13538.0 69018.0  6285.0   526.3  3195.6
 [64]  2762.8  1873.1  4648.1 16951.0  3506.9  5333.1  3296.2  2584.0   834.4
 [73]  4068.7  2518.6 10465.0  2682.4  2688.2  6682.3  4879.9  2772.1  1320.4
 [82]  3408.5  1919.7 19020.5  4778.3 24332.0  2678.4  4481.0 14932.1  2626.4
 [91]  2659.5  1073.2  2577.3  4293.8 18164.0  9944.4 12719.0  1931.6  2993.2
[100]  2127.2  4211.9  8489.6 12222.8 11213.4  5869.6  6193.8  3053.2  8946.0
[109]  4045.2  3618.9  1796.1  6703.1  2170.3  4674.0  3372.0  8205.0  4617.0
[118]  6964.0  6623.0 29797.0  5225.5  3639.0 97649.9 10743.6 10236.3 17802.7
[127]  6158.7  6775.2   298.7   785.3  1368.6  2066.1   181.5 10300.0 11232.0
[136]  5191.6   976.7  7671.5  6406.0  2917.4  3322.9   175.2  1686.3   514.1
[145]  3032.7  4686.9  8388.1  7632.8 17453.8  5781.1  6896.2  6503.1  2715.6
[154]  2761.9  5181.4  1323.0  5296.0  7177.0 12183.5  7863.5  3825.6  1110.6
[163]  1391.3  6047.9 18908.0  3921.5  3453.8  1558.5   962.8 25848.0   631.5
[172]  1728.9  2669.3  2159.2  2612.6  8270.3 44323.0   764.7  5167.5  2159.3
[181]  2617.1  2367.7  2744.0  2357.9  5262.0  5738.9  2714.9  3306.7  3532.5
[190]  3681.5  3982.1  2996.0  4178.6  2616.3  2064.5  2225.5  9470.1  3783.2
[199]  2388.7  3705.2  1411.7  4800.1  1771.9  7198.5  1509.1  1097.1  4542.6
[208]  2023.0  1442.5